<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.govst.zacharyexp.caregiverbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pill"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pill"
        android:supportsRtl="true"
        android:theme="@style/myAppTheme">
        <!--<activity android:name=".PatientSelect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name=".PatientSelectNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".biography.NewPatientActivity" />
        <activity android:name=".tbd.MainScreen" />
        <activity android:name=".MainSelect" />
        <activity android:name=".drug.DrugActivity" />
        <activity android:name=".drug.DrugNew" />
        <activity android:name=".chore.ChoreActivity" />
        <activity android:name=".chore.ChoreNew" />
        <activity android:name=".health.HealthActivity" />
        <activity android:name=".health.HealthNew" />
        <activity android:name=".tbd.ChoreMonthActivity" />
        <activity android:name=".calendar.NewCalendar" />
        <activity android:name=".tbd.BioActivity" />
        <activity android:name=".biography.BioNewActivity" />
        <activity android:name=".health.HealthSelectActivity" />
        <activity android:name=".braingame.QuizMainActivity" />
        <activity android:name=".braingame.GameWon" />
        <activity android:name=".braingame.QuizActivity" />
        <activity android:name=".braingame.InsertQuestionsActivity" />
        <activity android:name=".braingame.PlayAgain" />
        <activity android:name=".braingame.TimeUp" />
        <activity android:name=".biography.BioEdit" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>