<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zacharyexp.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myAppTheme">
        <activity android:name=".PatientSelect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewPatientActivity" />
        <activity android:name=".ActivityTemplate" />
        <activity android:name=".MainScreen" />
        <activity android:name=".MainSelect" />
        <activity android:name=".DrugActivity" />
        <activity android:name=".NewDrug" />
        <activity android:name=".ChoreActivity" />
        <activity android:name=".NewChore" />
        <activity android:name=".ChoreMonthActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>